html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    border: solid grey 1px;
    max-width: 100%;
    box-sizing:border-box;
}
   
body{
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
}

header{
    display:flex;
    width:100%;
    flex-direction:column;
    align-items: flex-start;
    margin:5%;
}

h1{
    font-size:3rem;
    padding:1%;
}

header nav{
    font-size:1rem;
    padding:1%;
    display:flex;
    margin-left:.5%;
}

header nav a{
    margin-right:22%;
}

.top {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    width:100%;
    padding:1%;
    margin:4%;
}

.top img {
    width:50%;
}

.top .introContainer{
    display:flex;
    flex-direction:column;
    width:40%;
    padding:1%;
    align-items:center;
}

.top h2 {
    display:flex;
    font-size:2rem;
    padding:1%;
    text-align:center;
}

.top button{
    margin:2%;
    font-size:1.2rem;
    margin:4%;
    padding:2%;
    width:40%;
}

.top p{
    width:60%;
    font-size:1rem;
    text-align:center;
}

.bottom {
    display:flex;
    padding:4%;
    width: 100%;
    flex-wrap:wrap;
    justify-content: space-around;
}

.bottom .album {
    width:25%;
    padding:2%;
}

.album h3{
    margin-top:5%;
    text-align:center;
}

footer{
    display:flex;
    width:100%;
    flex-direction:column;
    align-items:center;
    padding:1%;
}

footer p {
    margin:1%;
    font-size:1rem;
}

footer button {
    margin:1%;
    font-size:1rem;
}